# Dependency directories
node_modules/
bower_components/

# Build directories
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Miscellaneous
coverage/
.vscode/
.idea/
*.log
